version 5.226.0

group build

    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Environment
    nuget Fake.Core.Target
    nuget Fake.Core.Trace
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git

group tests

    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.0
    storage: none

    nuget Expecto
	nuget FSharp.Core
    nuget FSharp.Data.Adaptive ~> 0.0.8
    nuget Adaptify.MSBuild ~> 0.0.3
    nuget Giraffe.SerilogExtensions
	nuget Serilog
	nuget Serilog.Settings.Configuration
	nuget Serilog.Sinks.Console

group ui

    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Data.Adaptive ~> 0.0.8
    nuget Adaptify.MSBuild ~> 0.0.3
    nuget Fable.Core
    nuget Feliz
    nuget Feliz.MaterialUI
    github krauthaufen/Fable.Elmish.Adaptive

group visualizer-console

    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.0
    storage: none

	nuget FSharp.Core
    nuget Giraffe.SerilogExtensions
	nuget Serilog
	nuget Serilog.Settings.Configuration
	nuget Serilog.Sinks.Console
